@model DistrictViewModel
@inject ISettingRepository _repository;
@{
	ViewData["Title"] = "Create District";
	List<DistrictViewModel> DistrictViewModel = await _repository.GetAllDistrict(0);
	string submitValue = Model.DistId > 0 ? "Update" : "Save";
}

<div class="CustomBorderRelative">
	<div class="CustomerGrade">
		<h4 class="text-center text-white HeadingColorGreen">Create District File</h4>
		<form asp-action="CreateDistrict" asp-controller="Administration" method="post">
			<input asp-for="DistId" class="form-control" hidden />
			<div class="form-row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<div asp-validation-summary="All" class="text-danger row-cols-12 anyScrollCompany">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							@if (ViewBag.isSuccess == true)
							{
								<div class="alert alert-success alert-dismissible fade show" role="alert">
									<strong>@ViewBag.message </strong>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							}
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="form-group row">
						<label asp-for="DistrictName" class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3  control-label"></label>
						<div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-9"><input asp-for="DistrictName" class="form-control " /></div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="form-group row">
						<label asp-for="DistStateId" class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-9">
							<select asp-for="DistStateId" asp-items=" (await _repository.GetAllState(0)).OrderBy(x=> x.StateName).Select(x=> new SelectListItem() { Text = x.StateName, Value = x.StateId.ToString() })" class="form-control  CustCombo selectedItems ">
							</select>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="form-group row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
							<input type="submit" value="@submitValue" class="btn btn-success btn-sm" id="submit" hidden />
							<a href="#" class="btn btn-success  btn-sm" id="btn-confirm">@submitValue</a>
							<a asp-action="CreateDistrict" asp-controller="Administration" asp-route-id="0" asp-route-isSuccess="false" class="btn btn-warning btn-sm" style="width:auto;">Add New</a>
							<a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Cancel</a>
						</div>
					</div>
				</div>

			</div>
		</form>

		<div class="stateScroll" id="DistrictTable1">
			<table class="table table-striped table-bordered table-hover table-responsive-sm CancelTagVouch">
				<thead class="text-dark">
					<tr>
						<th style="width:5%">
							Id
						</th>
						<th>
							District's Name
						</th>
						<th>
							State's Name
						</th>
						<th class="actionListButtonWidthGrade">
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					@if (DistrictViewModel.Count() > 0)
					{
						@foreach (var item in DistrictViewModel)
						{
							<tr>
								<td>
									@item.DistId
								</td>
								<td>
									@item.DistrictName
								</td>
								<td>
									@item.StateViewModel.StateName
								</td>
								<td class="text-center">
									<a asp-action="CreateDistrict" asp-controller="Administration" asp-route-id=@item.DistId><span><i class="far fa-edit mr-3 fa-2x icon-color-green"></i></span></a>
									<a asp-action="DeleteDistrictRecord" asp-controller="Administration" asp-route-id=@item.DistId onclick="return confirm ('Are you sure you want to delete record : @item.DistId')"><i class="fas fa-times fa-2x icon-color-red"></i></a>
								</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="4">
								<h3 class="text-danger text-center">No Record found......</h3>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section scripts {
	<script>
		$(document).ready(function () {
			$('#DistrictName').focus();
		});
		$('#DistrictTable1').height(screen.height - 380);
	</script>
}