@model SMSKeyViewModel
@inject ISettingRepository _repository;
@{
	ViewData["Title"] = "Setting SMS Key";
	List<SMSKeyViewModel> detailViewModels = await _repository.GetALLSMSKey(0);
}

<div class="CustomBorderRelative">
	<div class="CustomBorder1">
		<h3 class="text-center text-white bg-warning">SMS Configuration URL</h3>
		<form asp-action="CreateSMSKey" asp-controller="Administration" method="post">
			<div class="form-row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"><div asp-validation-summary="All" class="text-danger row-cols-12 anyScrollCompany" style="border-bottom:3px solid blue;"></div></div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="form-group row" hidden>
						<label asp-for="SMSKeyId" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label "></label>
						<div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
							<input asp-for="SMSKeyId" class="form-control " />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="APIKeyNo" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label "></label>
						<div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
							<select asp-for="CompId" asp-items=" (await _repository.GetAllCompany(0)).OrderBy(x=> x.TransCode).Select(x=> new SelectListItem() { Text = x.TransCode, Value = x.Id.ToString() })" class="form-control  selectedItems">
							</select>
						</div>
						<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
							<input asp-for="APIKeyNo" class="form-control " />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="SenderName" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
							<input asp-for="SenderName" class="form-control  CustomText" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="MessageDetail" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
							<textarea asp-for="MessageDetail" class="form-control  CustomText" rows="4"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="MessageType" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
							<input asp-for="MessageType" class="form-control  CustomText" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="URLName" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
							<input asp-for="URLName" class="form-control  CustomText" />
						</div>
						<label class="form-check-label col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 CustLabel pt-1 text-right">
							<input class="form-check-input " asp-for="MessageActive" /> @Html.DisplayNameFor(model => model.MessageActive)
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					@if (ViewBag.isSuccess)
					{
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<strong>@ViewBag.message </strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					}
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="form-group row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
							<input type="submit" value="Save" class="btn btn-sm btn-success" />
							<a asp-action="CreateSMSKey" asp-controller="Administration" asp-route-id="0" asp-route-isSuccess="false" class="btn btn-sm btn-warning" style="width:auto;">Add New</a>
							<a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-outline-info">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 anyLine">
			<div class="form-group row">
				<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
					<select id="CompId1" asp-items=" (await _repository.GetAllCompany(0)).OrderBy(x => x.TransCode).Select(x => new SelectListItem() { Text = x.TransCode, Value = x.Id.ToString() })" class="form-control  selectedItems" onchange="GetSMSKeyRecord()">
					</select>
				</div>
			</div>
		</div>
		<div class="stateScroll" id="LedgerTable1">
			<table class="table table-striped table-bordered table-hover table-responsive-sm PurchaseVouch">
				<thead class="RedDarkWhiteListHeader">
					<tr>
						<th style="width:80px;" hidden>
							Id
						</th>
						<th>
							API Key
						</th>
						<th>
							Sender's Name
						</th>
						<th>
							Message Type
						</th>
						<th>
							URL
						</th>
						<th class="actionListButtonWidthAgent">
							Action
						</th>
					</tr>
				</thead>
				<tbody class="tbodyAddress">
					@if (detailViewModels.Count() > 0)
					{
						@foreach (var item in detailViewModels)
						{
							<tr>
								<td hidden>
									@item.SMSKeyId
								</td>
								<td>
									@item.APIKeyNo
								</td>
								<td>
									@item.SenderName
								</td>
								<td>
									@item.MessageType
								</td>
								<td>
									@item.URLName
								</td>
								<td class="actionListButtonWidthAgent">
									<a asp-action="CreateSMSKey" asp-controller="Administration" asp-route-id=@item.SMSKeyId><span><i class="far fa-edit mr-3 fa-2x icon-color-green"></i></span></a>
								</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="5">
								<h3 class="text-danger text-center">No Record found......</h3>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


@section scripts {
	@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
	<script>
	$('#LedgerTable1').height(screen.height - 540);
	function GetSMSKeyRecord() {
		var empobj = {
			CompId1: $('#CompId1').val()
		}
		$.ajax({
			url: "/Administration/GetSearchASMSKey/",
			method: "GET",
			dataType: "json",
			data: empobj,
			contentType: "application/json",
			success: function (result) {
				var html = '';
				if (result.length > 0) {
					$.each(result, function (key, item) {
						html += '<tr class="small">';
						html += '<td hidden>' + item.smsKeyId + '</td>';
						html += '<td>' + item.apiKeyNo + '</td>';
						html += '<td>' + item.senderName + '</td>';
						html += '<td>' + item.messageType + '</td>';
						html += '<td>' + item.urlName + '</td>';
						html += '<td class="actionListButtonWidthAgent">' +
							'<a href="CreateSMSKey?id=' + item.smsKeyId + '"' + '<span><i class="far fa-edit mr-3 fa-2x icon-color-green"></i></span></a>' +
							'</td >';
						html += '</tr>';
					});
				}
				else {
					html += '<tr>';
					html += '<td colspan="6"> ' + '<h3 class="text-danger text-center">No Record found......</h3>' + '</td>';
					html += '</tr>';
				}
				$('.tbodyAddress').html(html);
				// '<a href="AddressBook-Delete-File?id=' + item.ledgerMasterId + '"' +  '<span><i class="fas fa-times fa-2x icon-color-red"></i></span></a>' +
			},
			error: function (errormessage) {
				console.error(errormessage.responseText);
			}
		});
		return false;
	}
	</script>
}
