@model UserClaimsViewModel

@{
	ViewData["Title"] = "ManageUserClaims";
	var claimsno = 0;
	var userroles = User.IsInRole("SuperAdmin") ? true : false;	
}


<div class="container">
	<form method="post">
		<div class="card">
			<div class="card-header bg-info text-white">
				<h2>Manage User Claims</h2>
			</div>
			<div class="card-body">

				<div class="form-group row w-100">
					@for (int i = 0; i < Model.Claims.Count; i++)
					{
						if (claimsno == 0)
						{
							if (userroles)
							{
								<div class="col-sm-4 p-2 text-success">
									<div class="form-check m-1">
										<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
										<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
										<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
											@Model.Claims[i].ClaimType
										</label>
									</div>
								</div>
							}
							else if (!userroles)
							{
								@if (i < 33)
								{
									<div class="col-sm-4 p-2 text-success" hidden>
										<div class="form-check m-1">
											<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
											<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
											<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
												@Model.Claims[i].ClaimType
											</label>
										</div>
									</div>
								}
								else
								{
									<div class="col-sm-4 p-2 text-success">
										<div class="form-check m-1">
											<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
											<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
											<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
												@Model.Claims[i].ClaimType
											</label>
										</div>
									</div>
								}
							}
						}
						if (claimsno == 1)
						{
							if (userroles)
							{
								<div class="col-sm-4 p-2 text-info">
									<div class="form-check m-1">
										<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
										<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
										<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
											@Model.Claims[i].ClaimType
										</label>
									</div>
								</div>
							}
							else if (!userroles)
							{
								@if (i < 33)
								{
									<div class="col-sm-4 p-2 text-info" hidden>
										<div class="form-check m-1">
											<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
											<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
											<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
												@Model.Claims[i].ClaimType
											</label>
										</div>
									</div>
								}
								else
								{
									<div class="col-sm-4 p-2 text-info">
										<div class="form-check m-1">
											<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
											<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
											<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
												@Model.Claims[i].ClaimType
											</label>
										</div>
									</div>
								}
							}
						}
						if (claimsno == 2)
						{
							if (userroles)
							{
								<div class="col-sm-4 p-2 text-danger">
									<div class="form-check m-1">
										<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
										<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
										<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
											@Model.Claims[i].ClaimType
										</label>
									</div>
								</div>
							}
							else if (!userroles)
							{
								@if (i < 33)
								{
									<div class="col-sm-4 p-2 text-danger" hidden>
										<div class="form-check m-1">
											<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
											<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
											<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
												@Model.Claims[i].ClaimType
											</label>
										</div>
									</div>
								}
								else
								{
									<div class="col-sm-4 p-2 text-danger">
										<div class="form-check m-1">
											<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
											<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
											<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
												@Model.Claims[i].ClaimType
											</label>
										</div>
									</div>
								}
							}
						}
						if (claimsno < 2)
						{
							claimsno++;
						}
						else { claimsno = 0; }
						@*<div class="row-cols-sm-12 p-2">
				<div class="form-check m-1">
					<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
					<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
					<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
						@Model.Claims[i].ClaimType
					</label>
				</div>
			</div>*@
					}
				</div>
				<div asp-validation-summary="All" class="text-danger"></div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
				<a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary" style="width:auto">
					Cancel
				</a>
			</div>
		</div>
	</form>
</div>