@model OpenSearchViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;
@inject ISettingRepository _repository;
@inject IPayBillRepository _prepository;
@inject IAuthorizationService authorizationService
@{
	ViewData["Title"] = "Monthly Wise Executive List";
	string userid = ((await userManager.GetUserAsync(User)).Id);
	var userdetails = userManager.Users.Where(x => x.Id == userid).ToList();
	var userdetailsx = userManager.Users.Where(x => x.Id == userid).FirstOrDefault();
	var searchDate = ViewBag.searchDate;
	List<UpdatePayBillViewModel> listItem = await _prepository.PayBillMonthly(searchDate);
}
<div class="CustomBorderRelative">
	<div class="CustomBorder1">
		<form asp-action="ExecutiveMonthlyPayBillFile" asp-controller="PayBill" method="post" autocomplete="off">
			@*<input asp-for="UserId" class="form-control" value="@((await userManager.GetUserAsync(User)).Id)" hidden />*@
			<div class="form-row">				
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="form-group row">
						<select name="CompId" asp-items=" (await _repository.GetAllCompany((int)((await userManager.GetUserAsync(User)).CompanyDetailId))).OrderBy(x => x.TransCode).Select(x => new SelectListItem() { Text = x.TransCode, Value = x.Id.ToString() })" class="form-control form-control-sm selectedItems" title="Branch" hidden>
						</select>
						<select name="UserId" asp-items="(userdetails.Select(x => new SelectListItem() {Text = x.UserName,Value = x.Id.ToString() }))" class="form-control form-control-sm selectedItems" title="User's Name'" hidden>
						</select>
						<label asp-for="PayUptoDate" class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 col-form-label col-form-label-sm text-sm-right"></label>
						<div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
							<input asp-for="PayUptoDate" class="form-control form-control-sm" onblur="TotalDaysCount();" />
						</div>
						<label asp-for="PayBillDays" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label col-form-label-sm text-sm-right"></label>
						<div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
							<input asp-for="PayBillDays" class="form-control form-control-sm" />
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-right">
							<input type="submit" value="Search" class="btn btn-success btn-sm " style="width:auto;" />
							<a asp-action="Index" asp-controller="Home" class="btn btn-outline-info  btn-sm">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="stateScroll" id="SaleOrderItemMasterlistTable1">
			<table class="table table-sm table-striped table-bordered table-hover table-responsive-sm OpenItemOrderVouch" title="Payment Salary Monthly Executive Records">
				<thead class="RedDarkWhiteListHeader small">
					<tr>
						<th class="wdp-5">
							Id
						</th>
						<th class="wdp-5">
							Code
						</th>
						<th class="wdp-20">
							Executive Name
						</th>
						<th class="wdp-30">
							Address
						</th>
						<th class="wdp-5">
							Pin No.
						</th>
						<th class="wdp-10">
							Mobile No.
						</th>
						<th>
							E-mail Address
						</th>
					</tr>
				</thead>
				<tbody>
					@if (listItem.Any())
					{
						@foreach (var item in listItem)
						{
							<tr class="small">
								<td>
									@((int)item.EmpId)
								</td>
								<td>
									@item.AgentFileViewModel.Code
								</td>
								<td>
									@item.AgentFileViewModel.Name
								</td>
								<td>
									@item.AgentFileViewModel.Address1
								</td>
								<td>
									@(item.AgentFileViewModel.PinNo)
								</td>
								<td>
									@item.AgentFileViewModel.MobileNo
								</td>
								<td>
									@item.AgentFileViewModel.EmailAddress
								</td>
							</tr>
						}
					}
					else
					{
						<tr title="Payment Salary Monthly Executive Records">
							<td colspan="10">
								<h3 class="text-danger text-center">No Record found......</h3>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section scripts {
	<script>
		$('#SaleOrderItemMasterlistTable1').height(screen.height - 200);
		var newDate = $('#PayUptoDate').val().split('/');
		$('#PayBillDays').val(monthDayCount(newDate[1], newDate[2]));

		function TotalDaysCount() {
			var newDate = $('#PayUptoDate').val().split('/');
			$('#PayBillDays').val(monthDayCount(newDate[1], newDate[2]));
		}
	</script>
}