@model PatientDueReciptViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;
@inject ISettingRepository _repository
@inject IAuthorizationService authorizationService
@{
	ViewData["Title"] = "Create Due Receipt Voucher";
	string submitValue = Model.Id > 0  ? "Update" : "Save";
	var Currentuser = await userManager.GetUserAsync(User);	
}
<div class="CustomBorderRelative mt-3">
	<div class="CustomerGrade">
		<h4 class="text-center text-white HeadingColorGreen">Due Receipt Voucher</h4>
		<form method="post" asp-action="CreatePatientDueReciptFile" asp-controller="Master" autocomplete="off">
			<div class="form-row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  text-center">
					<div asp-validation-summary="All" class="text-danger row-cols-12 anyScrollOPD">
						@if (ViewBag.isSuccess == true)
						{
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>@ViewBag.message </strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						}
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
					<div class="form-group row">
						<input asp-for="Id" class="form-control " hidden />
						<input asp-for="PatId" class="form-control " hidden />
						<input asp-for="UserCode" class="form-control" value="@(Model.Id > 0 ? Model.UserCode : Currentuser.Id)" hidden />
						<label asp-for="VDate" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label "></label>
						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
							<input asp-for="VDate" class="form-control " />
						</div>
						<label asp-for="VNo" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label "></label>
						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<input asp-for="VNo" class="form-control " onblur="GetAgentFilePayBill();" />
						</div>
					</div>
					<div class="form-group row CustLabel">
						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
							<b><label id="EmpName" class="col-form-label  text-success">Patient's Name</label></b>
						</div>
						<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
							<b><label id="EmpNameX" class="col-form-label  text-success"></label></b>
						</div>
					</div>
					<div class="form-group row CustLabel">
						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
							<b><label id="EmpAddress" class="col-form-label  text-info">Address</label></b>
						</div>
						<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
							<b><label id="EmpAddressX" class="col-form-label  text-info"></label></b>
						</div>
					</div>
					<div class="form-group row CustLabel">
						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
							<b><label id="EmpMobileNo" class="col-form-label  text-danger">Mobile No.</label></b>
						</div>
						<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
							<b><label id="EmpMobileNoX" class="col-form-label  text-danger"></label></b>
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="TotalAmt" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
							<input asp-for="TotalAmt" class="form-control  text-sm-right CustomText" onkeypress="return isNumber(event)" onblur="ConvertTwoDecimal(this);GrandTotalPurMRPAmtCount();" />
						</div>
						<label asp-for="DiscAmt" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label  CustLabel text-right"></label>
						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
							<input asp-for="DiscAmt" class="form-control  text-sm-right CustomText" onkeypress="return isNumber(event)" onblur="ConvertTwoDecimal(this);GrandTotalPurMRPAmtCount();" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="PaidAmt" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
							<input asp-for="PaidAmt" class="form-control  text-sm-right CustomText" onkeypress="return isNumber(event)" onblur="ConvertTwoDecimal(this);" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="Remark" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label  "></label>
						<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
							<textarea asp-for="Remark" class="form-control  CustomText" rows="3">
							</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="PaymentType" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 CustLabel small">							
							<div class="form-group row">
								@foreach (var item in System.Enum.GetValues(typeof(PayMode)).OfType<PayMode>())
								{
									<label class="radio-inline col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-1">
										<input type="radio" asp-for="PaymentType" value="@((int)item)" checked="@(item == Model?.PaymentType)">  @item.GetDisplayName()
									</label>
								}
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
							<input type="submit" value="@submitValue" class="btn btn-sm btn-success" id="submit" hidden />
							<a href="#" class="btn btn-success  btn-sm" id="btn-confirm">@submitValue</a>
							@if (Model.Id > 0)
							{
								<a asp-action="DueReciptBillPrint" asp-controller="Reporting" asp-route-id="@Model.Id" class="btn btn-warning btn-sm" target="_blank">Print</a>
							}
							else
							{
								<a asp-action="DueReciptBillPrint" asp-controller="Reporting" class="btn btn-warning btn-sm disabled" target="_blank">Print</a>
							}
							<a asp-action="CreatePatientDueReciptFile" asp-controller="Master" asp-route-id="0" asp-route-isSuccess="false" class="btn btn-sm btn-warning" style="width:auto;">Add New</a>
							<a asp-action="SearchPatientDueReciptFile" asp-controller="Master" class="btn btn-sm btn-outline-info">Cancel</a>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<environment include="Development">
		<script src="~/js/DueReciptFile.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/DueReciptFile.min.js" asp-append-version="true"></script>
	</environment>
}