@model ReportGroupViewModel
@inject IMasterRepository _repository;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;
@inject Microsoft.Extensions.Options.IOptionsSnapshot<SoftwareConfigMode> softwareoption
@inject IAuthorizationService authorizationService;
@{
	ViewData["Title"] = "CreateReportFile";
	var softwareheader = softwareoption.Value;
	string submitValue = Model.Id > 0 ? "Update" : "Save";
	List<ReportGroupViewModel> detailViewModels = await _repository.GetAllReportGroupMaster(softwareheader.SoftwareMode == true ? (int)(await userManager.GetUserAsync(User)).CompanyDetailId : 0);
}
<div class="CustomBorderRelative">
	<div class="CustomerGrade">
		<h3 class="text-center text-white bg-dark">Report File</h3>
		<form asp-action="CreateReportGroupFile" asp-controller="Master" method="post" autocomplete="off">
			<input asp-for="Id" class="form-control " hidden />
			<input asp-for="CompId" class="form-control " value="@(softwareheader.SoftwareMode == true ? (int)(await userManager.GetUserAsync(User)).CompanyDetailId : 1)" hidden />
			<div class="form-row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<div asp-validation-summary="All" class="text-danger row-cols-12 anyScrollCompany">
						@if (ViewBag.isSuccess == true)
						{
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>@ViewBag.message </strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						}
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="form-group row">
						<label asp-for="Name" class="col-form-label  col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3"></label>
						<div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-9">
							<input asp-for="Name" class="form-control " />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="TempNo" class="col-form-label  col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-2 col-lg-4 col-xl-4">
							<input asp-for="TempNo" class="form-control  CustomText" />
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
					<input type="submit" value="@submitValue" class="btn btn-success btn-sm" id="submit" hidden />
					<a href="#" class="btn btn-success  btn-sm" id="btn-confirm">@submitValue</a>
					<a asp-action="CreateReportGroupFile" asp-controller="Master" asp-route-id="0" asp-route-isSuccess="false" class="btn btn-warning btn-sm" style="width:auto;">Add New</a>
					<a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Cancel</a>
					<a asp-action="CreateReportSerialNoFile" asp-controller="Master" asp-route-id="0" asp-route-isSuccess="false" class="btn btn-warning btn-sm" style="width:auto;">Change Serial No.</a>
				</div>
			</div>
		</form>
		<div class="stateScroll" id="ReportTable1">
			<table class="table  table-striped table-bordered table-hover table-responsive-sm SaleOrderVouch">
				<thead class="bluevioletWhiteListHeader">
					<tr>
						<th hidden>
							Id
						</th>
						<th>
							Name
						</th>
						<th>
							Print
						</th>
						<th class="actionListButtonWidthAgent">
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					@if (detailViewModels.Count() > 0)
					{
						@foreach (var item in detailViewModels)
						{
							<tr>
								<td hidden>
									@item.Id
								</td>
								<td>
									@item.Name
								</td>
								<td>
									@item.TempNo
								</td>
								<td class="text-center">
									@if ((await authorizationService.AuthorizeAsync(User, "AddEditReportMasterPolicy")).Succeeded)
									{
										<a asp-action="CreateReportGroupFile" asp-controller="Master" asp-route-id=@item.Id><span><i class="far fa-edit mr-3 fa-1x icon-color-green"></i></span></a>
									}
									@if ((await authorizationService.AuthorizeAsync(User, "DeleteReportMasterPolicy")).Succeeded)
									{
										<a asp-action="DeleteReportGroupRecord" asp-controller="Master" asp-route-id=@item.Id onclick="return confirm ('Are you sure you want to delete record : @item.Id')"><i class="fas fa-times fa-1x icon-color-red"></i></a>
									}
								</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="3">
								<h3 class="text-danger text-center">No Record found......</h3>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section scripts {
	@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
	<script>
		$(document).ready(function () {
			$('#Name').focus();
		});
		$('#ReportTable1').height(screen.height - 360);
	</script>
}
