@model MedMasterViewModel
@inject IMasterRepository _repository;
@inject ISettingRepository _mrepository;
@inject IAuthorizationService authorizationService;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;
@inject Microsoft.Extensions.Options.IOptionsSnapshot<SoftwareConfigMode> softwareoption
@{
	ViewData["Title"] = "Create Medical Master";	
	string submitValue = Model.Id > 0 ? "Update" : "Save";
	List<MedMasterViewModel> detailViewModels = await _repository.GetAllMedMaster((int)(await userManager.GetUserAsync(User)).CompanyDetailId);
}

<div class="CustomBorderRelative">
	<div class="CustomBorder1">
		<h4 class="text-center text-white HeadingColorGreen">Create Medical Master File</h4>
		<form method="post" asp-action="CreateMedMasterFile" asp-controller="Master" autocomplete="off">
			<div class="form-row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<div asp-validation-summary="All" class="text-danger row-cols-12 anyScrollOPD">
						@if (ViewBag.isSuccess == true)
						{
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<strong>@ViewBag.message </strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						}
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<div class="form-group row">
						<div class="col-12">
							<label class="text-center"><b>Medical Examination</b></label>
						</div>
					</div>
					<div class="form-group row">
						<input asp-for="Id" class="form-control " hidden />
						<input asp-for="CompId" class="form-control " value="@((int)(await userManager.GetUserAsync(User)).CompanyDetailId)" hidden />
						<label asp-for="TestDetailsA" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
							<input asp-for="TestDetailsA" class="form-control  CustomText" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="PatResultA" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
							<input asp-for="PatResultA" class="form-control  CustomText" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="RangeDetailsA" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
							<input asp-for="RangeDetailsA" class="form-control  CustomText" />
						</div>
						<div class="form-check col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 text-right CustomText">
							<input asp-for="TestLineA" class="form-check-input" />
							<label class="form-check-label" asp-for="TestLineA">
								Line Draw
							</label>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<div class="form-group row">
						<div class="col-12">
							<label class="text-center"><b>Laboratory Examination</b></label>
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="TestDetailsB" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
							<input asp-for="TestDetailsB" class="form-control  CustomText" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="PatResultB" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
							<input asp-for="PatResultB" class="form-control  CustomText" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="RangeDetailsB" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
							<input asp-for="RangeDetailsB" class="form-control  CustomText" />
						</div>
						<div class="form-check col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 text-right CustomText">
							<input asp-for="TestLineB" class="form-check-input" />
							<label class="form-check-label" asp-for="TestLineB">
								Line Draw
							</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-sm-right">
							<input type="submit" value="@submitValue" class="btn btn-sm btn-success" id="submit" hidden />
							<a href="#" class="btn btn-success  btn-sm" id="btn-confirm">@submitValue</a>
							<a asp-action="CreateMedMasterFile" asp-controller="Master" asp-route-id="0" asp-route-isSuccess="false" class="btn btn-sm btn-warning" style="width:auto;">Add New</a>
							<a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-outline-info">Cancel</a>
						</div>
					</div>

				</div>
			</div>
		</form>
		
		<div class="stateScroll" id="Table2">
			<table class="table table-striped table-bordered table-hover table-responsive-sm SaleOrderVouch">
				<thead class="RedDarkWhiteListHeader">
					<tr>
						<th hidden>
							Id
						</th>
						<th>
						    Test
						</th>
						<th class="wdp-20">
							Default Value
						</th>
						<th class="wdp-20">
							Range
						</th>						
						<th class="actionListButtonWidthAgent">
							Action
						</th>
					</tr>
				</thead>
				<tbody class="tbodyAgent">
					@if (detailViewModels.Count() > 0)
					{
					@foreach (var item in detailViewModels)
						{
							<tr>
								<td hidden>
									@item.Id
								</td>
								<td>
									@item.TestDetailsA
								</td>
								<td>
									@item.PatResultA
								</td>
								<td>
									@item.RangeDetailsA
								</td>
								<td class="actionListButtonWidthAgent">
									@if ((await authorizationService.AuthorizeAsync(User, "AddEditMedMasterPolicy")).Succeeded)
									{
										<a asp-action="CreateMedMasterFile" asp-controller="Master" asp-route-id=@item.Id><span><i class="far fa-edit mr-3 fa-1x icon-color-green"></i></span></a>
									}
									@if ((await authorizationService.AuthorizeAsync(User, "DeleteMedMasterPolicy")).Succeeded)
									{
										<a asp-action="DeleteMedMasterRecord" asp-controller="Master" asp-route-id=@item.Id onclick="return confirm ('Are you sure you want to delete record : @item.Id')"><i class="fas fa-times fa-1x icon-color-red"></i></a>
									}
								</td>
							</tr>
						}
					}
					else
					{
					<tr>
						<td colspan="4">
							<h3 class="text-danger text-center">No Record found......</h3>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section scripts {
	@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
	
	<script>
		$('#Table2').height(screen.height - 410);
	</script>
}