@model PurchaseOrderViewModel
@inject ISettingRepository _repository;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;
@inject IAuthorizationService authorizationService;
@inject Microsoft.Extensions.Options.IOptionsSnapshot<SoftwareConfigMode> softwareoption;
@{
	var softwareheader = softwareoption.Value;
	ViewData["Title"] = "Order File";
	string submitValue = Convert.ToInt32(Model.SOId) > 0 ? "Update" : "Save";
	var Currentuser = await userManager.GetUserAsync(User);
	CompanyDetailViewModel companyDetail = await _repository.GetCompanyById((int)(await userManager.GetUserAsync(User)).CompanyDetailId);
}
<div class="CustomBorderRelative">
	<div class="CustomBorder1">
		<h5 class="text-center text-white HeadingColorRed">Order Voucher</h5>
		<form asp-action="CreateOrderFile" asp-controller="Transaction" method="post" id="purchaseOrderform" autocomplete="off">
			<input type="text" id="CompanyStateId" hidden />
			<input asp-for="SOId" class="form-control" hidden />
			<input asp-for="UserCode" class="form-control" value="@(Model.SOId > 0 ? Model.UserCode : Currentuser.Id)" hidden />
			<input asp-for="CurrentNo" class="form-control" hidden />
			<input asp-for="RowId" class="form-control" hidden />
			<div class="form-row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<div asp-validation-summary="All" class="text-danger row-cols-12 anyScrollOPD">
						@if (ViewBag.isSuccess == true)
						{
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>@ViewBag.message </strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						}
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
					<div class="form-group row">
						<label asp-for="CompId" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label "></label>
						<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
							@if (!softwareheader.SoftwareMode)
							{
								<select asp-for="CompId" asp-items=" (await _repository.GetAllCompany(0)).OrderBy(x => x.Id).Select(x => new SelectListItem() { Text = x.Id.ToString() + ' ' + x.CompName + ' ' + x.Address1, Value = x.Id.ToString() })" class="form-control  selectedItems" onblur="GetPurVoucherSrNo();">
								</select>
							}
							else
							{
								@if (User.IsInRole("SuperAdmin"))
								{
									<select asp-for="CompId" asp-items=" (await _repository.GetAllCompany(0)).OrderBy(x => x.TransCode).Select(x => new SelectListItem() { Text = x.TransCode, Value = x.Id.ToString() })" class="form-control  selectedItems" onblur="GetPurVoucherSrNo();">
									</select>
								}
								else
								{
									<select asp-for="CompId" asp-items=" (await _repository.GetAllCompany(companyDetail.Id)).OrderBy(x => x.TransCode).Select(x => new SelectListItem() { Text = x.TransCode, Value = x.Id.ToString() })" class="form-control  selectedItems" onblur="GetPurVoucherSrNo();">
									</select>
								}
							}
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="SOVNo" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<input asp-for="SOVNo" class="form-control  CustomText" hidden />
							<h3 id="STVNoX" class="col-form-label   CustomText"></h3>
						</div>
						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<input asp-for="ODate" class="form-control  CustomText" hidden />
							<h3 id="STDateX" class="col-form-label   CustomText"></h3>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
					<div class="form-group row" hidden>
						<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
							<input asp-for="AcCode" class="form-control " />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="CustName" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label "></label>
						<div class="col-12 col-sm-12 col-md-10  col-lg-10 col-xl-10">
							<input asp-for="CustName" class="form-control  AccountDetailRecord" onfocus="AccountSearchRecord();" />
						</div>
					</div>
					<div class="form-group row">
						<label asp-for="CustAddress1" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-10  col-lg-10 col-xl-10">
							<input asp-for="CustAddress1" class="form-control  CustomText" />
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="stateScroll boxcolorback" id="PurchaseOrderItemTable1">
						<table class="table table-sm table-striped table-bordered table-hover table-responsive-sm OpenItemOrderVouch" id="PurchaseOrderItemTableWidth">
							<thead class="RedDarkWhiteListHeader small">
								<tr>
									<th class="text-center wdp-3">##</th>			@*Action*@
									<th class="wdp-6">SrNo.</th>
									<th class="wdp-46">Item</th>
									<th class="text-sm-right wdp-8">Qty</th>
									<th class="text-sm-right wdp-8">Unit</th>
									<th class="text-sm-right wdp-6">GST%</th>
									<th class="text-sm-right wdp-8">Rate</th>
								</tr>
							</thead>
							<tbody id="orderItemContinaer">
								@Html.EditorFor(model => model.PurchaseOrderDetailViewModels)
							</tbody>
							<tfoot>
								<tr>
									@*<td><input type="button" id="btnAdd" value="New" class="btn btn-primary btn-sm" style="width:auto;" /></td>*@
									<td class="text-center">
										<a href="#" id="btnAdd" type="button" class="mt-1"><i class="fa fa-plus fa-1x icon-color-green"></i></a>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-6">
					<div class="form-group row">
						<label asp-for="Remark" class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-form-label  CustLabel"></label>
						<div class="col-12 col-sm-12 col-md-10  col-lg-10 col-xl-10">
							@*<input asp-for="Remark" class="form-control  CustomText" />*@
							<textarea asp-for="Remark" class="form-control  CustomText"></textarea>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
					<div class="form-group row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
							<h4 id="TotalAmtX" class="col-form-label  "><b>Total Qty : 0.00</b></h4>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
					<div class="form-group row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
							<input type="submit" value="@submitValue" class="btn btn-success  btn-sm" id="submit" hidden />
								<a href="#" class="btn btn-success  btn-sm" id="btn-confirm">@submitValue</a>
							@if ((await authorizationService.AuthorizeAsync(User, "PurchaseOrderBillPrintFilePolicy")).Succeeded && Model.SOId > 0)
							{
								<a asp-action="OrderBillPrint" asp-controller="Reporting" class="btn btn-sm btn-outline-primary" asp-route-id="@Model.SOId" target="_blank" style="width:auto">Print</a>
							}
							else
							{
								<a asp-action="OrderBillPrint" asp-controller="Reporting" class="btn btn-sm btn-outline-primary disabled" asp-route-id="@Model.SOId" target="_blank" style="width:auto">Print</a>
							}
							<a asp-action="CreateOrderFile" asp-controller="Transaction" asp-route-id="0" asp-route-isSuccess="false" class="btn btn-warning  btn-sm" style="width:auto;">Add New</a>
							<a asp-action="SearchOrderFile" asp-controller="Transaction" class="btn btn-outline-info  btn-sm">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
@section Scripts {
	@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
	<environment include="Development">
		<script src="~/js/PurchaseOrderFile.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/PurchaseOrderFile.js" asp-append-version="true"></script>
	</environment>
	<script>
		$('#PurchaseOrderItemTable1').height(screen.height - 380);
		$('#PurchaseOrderItemTableWidth').width(screen.width - 100);
	</script>
}